.comand-buttons {
  display: flex ;
  justify-content: space-between ;
}

.del-button {
  background-color: rgb(255, 81, 81);
  border: 1px solid red;
}

.del-button:hover {
  background-color: red;
}
